.small-box:hover {
    color: #333;
}
.small-box p {
    margin: 0px;
}
.box-unassigned .bigicon:hover {
    color: #f56954;
}

.box-pedding .bigicon:hover {
    color: #00c0ef;
}

.box-processing .bigicon:hover {
    color: #00a65a;
}

.box-checking .bigicon:hover {
    color: #f39c12;
}

.box-finished .bigicon:hover {
    color: #3c8dbc;
}

.small-box .bigicon {
    font-size:40px;
    position: absolute;
    top: 5px;
    bottom: auto;
    right: 5px;
    z-index: 0;
    color: rgba(0, 0, 0, 0.15);
}

.nav-tabs-custom li.active {
    background-color: #f56954;
    border-top-color: #f56954 !important;
}

.nav-tabs-custom > .nav-tabs > li.active > a {
    background-color: #f56954;
    color: #fff;
    border-color: #f56954;
}
.nav-tabs-custom > .nav-tabs > li.active > a, .nav-tabs-custom > .nav-tabs > li.active:hover > a {
    background-color: #f56954;
}

.skin-blue .logo{
    background-color: #f4543c;
}

.skin-blue .navbar{
    background-color: #f56954;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    background-color: #f56954 !important;
}

.box-processing .tooltip-inner,
.box-unassigned .tooltip-inner,
.box-checking .tooltip-inner,
.box-pedding .tooltip-inner{
    background-color: #fff;
    border: 2px solid #f56954;
    color: #000;
    box-shadow: 15px 20px 15px #333333;
}

.box-processing .tooltip-inner label,
.box-unassigned .tooltip-inner label,
.box-checking .tooltip-inner label,
.box-pedding .tooltip-inner label{
    color: #f56954;
}

.box-processing .tooltip-arrow,
.box-unassigned .tooltip-arrow,
.box-pedding .tooltip-arrow,
.box-checking .tooltip-arrow{
    border-right-color: #f56954 !important;
}

.box-processing span i,
.box-unassigned span i,
.box-pedding span i,
.box-checking span i{
    width: 20px;
    text-align: center;
}

.box-processing span,
.box-unassigned span,
.box-pedding span,
.box-checking span{
    font-size: 12px;
}